﻿@{
    ViewBag.Title = "ExtractDataFromITA";
}

<h2>ExtractDataFromITA</h2>
@using  LogicLayer.Models;
@model IList<MatchResult>
<table class='table'>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
                <td>@item.MatchStart</td>
                <td>@item.TeamA</td>
                <td>@item.Vs</td>
                <td>@item.TeamB</td>
                <td>@item.Result</td>
           </tr> 
        }
    </tbody>
</table>