﻿@{
    ViewBag.Title = "Index";
}
@using  LogicLayer.Models;
@model IList<Item>
<h2>Index</h2>
<table>
    <tbody>
        @foreach (var item in Model)
        {
           <tr>
                <td>@item.Key</td>
                <td>@item.Value</td>
           </tr> 
        }
    </tbody>
</table>