﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class='container'>
        <div class='row'>
            @RenderBody()
        </div>
    </div>    
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
